<nav aria-label="breadcrumb" class="blue">
    <ol class="breadcrumb blue">
        <li class="breadcrumb-item">Head</li>
        <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
    </ol>
</nav>

<h4 class="tabHeading">General</h4>
<h6 class="description">General Cross-Example Information</h6>
<div class="contentSeperator">
    <form>
        <div class="from-group row">
            <label for="title" class="col-2 col-form-label">Title</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="title" name="title" placeholder="Title" [(ngModel)]="exercise.title">
            </div>
            <label for="user" class="col-2 col-form-label">Author</label>
            <div class="col-10">
                <!-- ToDo: set readonly and load current user -->
                <input type="text" class="form-control-plaintext" id="user" name="user" placeholder="Username" [(ngModel)]="exercise.user.name">
            </div>
        </div>
    </form>
</div>

<div class="contentBottom contentSeperator">
    <nav aria-label="breadcrumb" class="blue float-left">
        <ol class="breadcrumb blue">
            <li class="breadcrumb-item">Head</li>
            <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
        </ol>
    </nav>
</div>