<nav aria-label="breadcrumb" class="blue">
    <ol class="breadcrumb blue">
        <li class="breadcrumb-item">Head</li>
        <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
    </ol>
</nav>

<h4 class="tabHeading">General</h4>
<h6 class="description">General Cross-Example Information</h6>
<div class="contentSeperator">
    <form>
        <div class="from-group content-group row">
            <label for="title" class="col-2 col-form-label">Title</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="title" name="title" [(ngModel)]="exercise.title">
            </div>

            <label for="param" class="col-2 col-form-label">Template Parameters</label>
            <div class="col-10">
                <textarea type="text" class="form-control-plaintext" rows="4" id="param" name="param" placeholder="Template Parameters" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.templateParam"></textarea>
            </div>

            <label for="twig" class="col-2 col-form-label">Twig Control</label>
            <div class="col-10 form-inline">
                <div class="form-group col-3">
                    <input type="checkbox" id="liftParam" name="liftParam" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.templateParamLiftFlag">
                    <p class="ml-3">Lift Template Parameters</p>
                </div>
                <div class="form-group col-3">
                    <input type="checkbox" id="twigAll" name="twigAll" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.twigAllFlag">
                    <p class="ml-3">Twig for All</p>
                </div>
            </div>

            <label for="tagSelect" class="col-2 col-form-label">Tags</label>
            <div class="col-10">
                <select class="form-control" id="tagSelect" name="tagSelect" [(ngModel)]="exercise.exerciseTag[0].name">
                    <option [ngValue]="placeholder">placeholder</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="contentBottom contentSeperator">
    <nav aria-label="breadcrumb" class="blue float-left">
        <ol class="breadcrumb blue">
            <li class="breadcrumb-item">Head</li>
            <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
        </ol>
    </nav>
</div>