<nav aria-label="breadcrumb" class="blue">
    <ol class="breadcrumb blue">
        <li class="breadcrumb-item">Head</li>
        <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
    </ol>
</nav>

<h4 class="tabHeading">General</h4>
<h6 class="description">General Cross-Example Information</h6>
<div class="contentSeperator">
    <form>
        <div class="from-group content-group row">
            <label for="title" class="col-2 col-form-label">Title</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="title" name="title" [(ngModel)]="exercise.title">
            </div>

            <label for="param" class="col-2 col-form-label">Template Parameters</label>
            <div class="col-10">
                <textarea type="text" class="form-control-plaintext" rows="4" id="param" name="param" placeholder="Template Parameters" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.templateParam"></textarea>
            </div>

            <label for="twig" class="col-2 col-form-label">Twig Control</label>
            <div class="col-10 form-inline">
                <div class="form-group col-3">
                    <input type="checkbox" id="liftParam" name="liftParam" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.templateParamLiftFlag">
                    <p class="ml-3">Lift Template Parameters</p>
                </div>
                <div class="form-group col-3">
                    <input type="checkbox" id="twigAll" name="twigAll" [(ngModel)]="exercise.exerciseVersion[0].exerciseLanguage[0].fkExerciseHeader.twigAllFlag">
                    <p class="ml-3">Twig for All</p>
                </div>
            </div>

            <label for="tagSelect" class="col-2 col-form-label">Tags</label>
            <div class="col-10">
                <span *ngFor="let tag of exercise.exerciseTag; let idx = index" class="badge badge-pill tag">
                    <span class="tagFunctions" (click)="removeTag(idx)">x</span> {{ tag.name }}
                </span>
            </div>
            <div class="col-2">
                <!-- Left blank on purpose... -->
            </div>
            <div class="col-2 tagFunctions">
                <a (click)="showExistingTags(existingTagModal)"><img src="../../../../assets/img/plus.png" > Add from existing Tags</a>
            </div>
            <div class="col-2 tagFunctions">
                <a (click)="createNewTag(createTagModal)"><img src="../../../../assets/img/plus.png" > Create new Tag</a>
            </div>
            <div class="col-6">
                <!-- Left blank on purpose... -->
            </div>
        </div>
    </form>
</div>

<div class="contentBottom contentSeperator">
    <nav aria-label="breadcrumb" class="blue float-left">
        <ol class="breadcrumb blue">
            <li class="breadcrumb-item">Head</li>
            <li class="breadcrumb-item" aria-current="page"><span class="active">General</span></li>
        </ol>
    </nav>
</div>

<!-- modal for creating new tags -->
<ng-template #createTagModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a new Tag</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="newTagForm" (ngSubmit)="addNewTag(newTagForm.value)">
        <div class="form-group">
          <label for="tagName"><strong>Name:</strong></label>
          <input type="text" class="form-control-plaintext" id="tagName" name="tagName" placeholder="e.g. linked list" formControlName="tagName">
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-outline-dark">Add</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
    </div>
  </ng-template>

  <!-- modal for creating new tags -->
<ng-template #existingTagModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add existing Tag</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="modalForm" [formGroup]="existingTagForm" (ngSubmit)="addExistingTag(existingTagForm.value)">
        <div class="form-group">
          <label for="tagName"><strong>Select Tag:</strong></label>
          <select class="form-control" name="tagName" id="tagName" formControlName="tag">
              <option *ngFor="let tag of existingTags" [ngValue]="tag">{{ tag.name }}</option>
          </select>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-outline-dark">Add</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
    </div>
  </ng-template>