.input-group.md-form.form-sm.form-2 input.blue-border {
    border: 1px solid  rgb(53, 171, 240);
}

.searchIcon {
    border: 1px solid black;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: rgb(53, 171, 240);
}

img {
    height: 20px;
    width: 20px;
}

div.btn-group {
    margin: 20px 0;
}

.blue {
    background-color: rgb(53, 171, 240);
}

.float-left button {
    margin: 0 10px 0 0;
}

#views button:hover {
    background-color: rgb(125, 202, 247);
    cursor: pointer;
}

.activeView {
    background-color: rgb(125, 202, 247);
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    margin-top: 15px;
}

.tag {
    background-color: rgb(53, 171, 240);
    margin: 0 5px 0 5px;
}

.tag-red {
    background-color: rgb(184, 13, 13);
    margin: 0 5px 0 5px;
}

.tag-green {
    background-color: rgb(65, 206, 22);
    margin: 0 5px 0 5px;
}

li.blackLine {
    margin-right: 5px;
    border-left: black 12.5px solid;
}

.ratings {
    margin-top: 5px;
}

.btn-alignment {
    vertical-align: middle;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-outline-primary {
    width: 26px;
    padding: 0;
    margin: 5px;
    border:  rgb(53, 171, 240) solid 1px;
    color: rgb(53, 171, 240);
    font-weight: bolder;
    text-align: center;   
}

.btn-outline-primary:hover {
    color: white;
    background-color:  rgb(125, 202, 247);
}