<div class="container">
  <!-- Search Bar  -->
  <div class="input-group md-form form-sm form-2 pl-0">
    <input [(ngModel)]="searchFilter.searchTerm" class="form-control my-0 py-1 blue-border" type="text" placeholder="Search for an exercise..." aria-label="Search">
    <div class="input-group-append">
      <span (click)="search()" class="input-group-text lighten-3 searchIcon"><img src="../../assets/img/search.png" alt="search"></span>
    </div>
  </div>

  <div class="clearfix">
    <!-- Filter options (ToDo: get data from DB, Improve Toggle function!) -->
    <div class="float-left">
      <div ngbDropdown class="d-inline-block btn-group">
        <button class="btn btn-secondary btn-md btn-dropdown blue" id="languageDropdown" ngbDropdownToggle>
          {{ searchFilter.writtenLanguage != null && searchFilter.writtenLanguage != "" ? searchFilter.writtenLanguage : 'Language' }}
        </button>
        <div ngbDropdownMenu aria-labelledby="languageDropdown">
          <button ngbDropdownItem *ngFor="let l of languages" (click)="SetFilterLang(l)">{{ l }}</button>
        </div>
      </div>

      <div *ngIf="showExercises" ngbDropdown class="d-inline-block btn-group">
        <button class="btn btn-secondary btn-md btn-dropdown blue" id="programmingDropdown" ngbDropdownToggle>
          {{ searchFilter.programmingLanguage != null && searchFilter.programmingLanguage != "" ? searchFilter.programmingLanguage : 'Programming Language' }}
        </button>
        <div ngbDropdownMenu aria-labelledby="programmingDropdown">
          <button ngbDropdownItem *ngFor="let l of programmingLangs" (click)="SetFilterPLang(l)">{{ l }}</button>
        </div>
      </div>

      <div class="d-inline-block btn-group">
        <button (click)="resetFilter()" class="btn btn-secondary btn-md btn-dropdown blue" id="programmingDropdown">
          Reset Filter
        </button>
      </div>
    </div>

    <div class="float-right">
      <div class="btn-group" id="views">
        <button type="button" class="btn btn-secondary blue" [ngClass]="{'activeView' : viewSelected == 'list'}" (click)="selectView('list')"><img src="../../assets/img/list_view.png" alt="list_view"></button>
        <button type="button" class="btn btn-secondary blue" [ngClass]="{'activeView' : viewSelected == 'grid_big'}" (click)="selectView('grid_big')"><img src="../../assets/img/grid_view_big.png" alt="grid_big"></button>
        <button type="button" class="btn btn-secondary blue" [ngClass]="{'activeView' : viewSelected == 'grid_small'}" (click)="selectView('grid_small')"><img src="../../assets/img/grid_view_small.png" alt="grid_small"></button>
      </div>
    </div>
  </div>

  <!-- ToDo: get data from db, implement filters, different display options -->
  <div class="container">
    <div *ngIf="showExercises" class="text-center">
      <h2><span class="isSelected">Exercises</span>  |  <span class="isInactive" (click)="switchLists()">Collections</span></h2>
    </div>
    <div *ngIf="!showExercises" class="text-center">
      <h2><span class="isInactive" (click)="switchLists()">Exercises</span>  |  <span class="isSelected">Collections</span></h2>
    </div>

    <list-view *ngIf="viewSelected == 'list'" [exerciseList]="exerciseList" [collectionList]="collectionList" [showExercises]="showExercises" (addExerciseToCollectionEvent)="addExerciseToCollection($event)" (exportExerciseEvent)="exportSingleExercise($event, exportModal)" (exportCollectionEvent)="exportSingleCollection($event, exportCollectionModal)" (editExerciseEvent)="editExercise($event)" (viewExerciseEvent)="viewExercise($event)" (viewCollectionEvent)="viewCollection($event)"></list-view>
    <grid-big-view *ngIf="viewSelected == 'grid_big'"></grid-big-view>
    <grid-small-view *ngIf="viewSelected == 'grid_small'"></grid-small-view>
  </div>
</div>

<!-- Error Message Toast -->
<div class="toast d-flex justify-content-center text-white bg-danger border-0 position-sticky" role="alert" aria-live="assertive" aria-atomic="true" data-delay="15000">
    <div class="toast-body">
      {{errorMsg}}
    </div>
    <button type="button" class="btn ml-2 toastClose" data-dismiss="toast" aria-label="Close">&times;</button>
</div>

<!-- modal for exercise export -->
<ng-template #exportModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export Exercise '{{ selectedExercise.title }}'</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="ExportExercise()">
      <div class="form-group">
        <label for="version"><strong>Exercise Version:</strong></label>
        <select class="form-control" id="version" name="version" [(ngModel)]="exerciseForExport.version">
          <option *ngFor="let version of selectedExercise.versionList" [ngValue]="version">{{ version }}</option>
        </select>
        <div *ngIf="versionInvalid" class="alert alert-danger">
          Version is required.
        </div>
        <label for="writtenLang"><strong>Language:</strong></label>
        <select class="form-control" id="writtenLang" name="writtenLang" [(ngModel)]="exerciseForExport.writtenLanguage">
          <option *ngFor="let wLang of selectedExercise.writtenLanguageList" [ngValue]="wLang.name">{{ wLang.name }}</option>
        </select>
        <div *ngIf="wLangInvalid" class="alert alert-danger">
          Language is required.
        </div>
        <label for="programmingLang"><strong>Programming Language:</strong></label>
        <select class="form-control" id="programmingLang" name="programmingLang" [(ngModel)]="exerciseForExport.programmingLanguage">
          <option *ngFor="let pLang of selectedExercise.programmingLanguageList" [ngValue]="pLang.name">{{ pLang.name }}</option>
        </select>
        <div *ngIf="pLangInvalid" class="alert alert-danger">
          Programming Language is required.
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Export Exercise</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

<!-- modal for collection export -->
<ng-template #exportCollectionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Export Collection '{{ selectedCollection.title }}'</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="ExportCollection()">
      <div class="form-group">
        <label for="writtenLang"><strong>Language:</strong></label>
        <select class="form-control" id="writtenLang" name="writtenLang" [(ngModel)]="collectionForExport.writtenLanguage">
          <option *ngFor="let wLang of selectedCollection.writtenLanguageList" [ngValue]="wLang.name">{{ wLang.name }}</option>
        </select>
        <div *ngIf="wLangInvalid" class="alert alert-danger">
          Language is required.
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Export Collection</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>