<!-- ToDo: Databindings + Tags -->
<h1>Exercise Collection Overview</h1>
<div class="contentSeperator container">
  <label for="collectionTitle" class="col-form-label">Collection Title: </label>
  <input [(ngModel)]="collection.title" type="text" name="collectionTitle" id="collectionTitle" class="col-12 form-control-plaintext mb-2">

  <div class="mb-5">
    <p>Tags: </p>
    <div>
        <span *ngFor="let tag of collection.collectionTagList; let idx = index" class="badge badge-pill tag">
            <span class="tagFunctions" (click)="removeTag(idx)">&#x2715;</span> {{ tag.tag.name }}
        </span>
    </div>
    <div>
        <!-- Left blank on purpose... -->
    </div>
    <div class="tagFunctions">
        <a (click)="showExistingTags(existingTagModal)"><img src="../../../../assets/img/plus.png" > Add from existing Tags</a>
    </div>
    <div class="tagFunctions">
        <a (click)="createNewTag(createTagModal)"><img src="../../../../assets/img/plus.png" > Create new Tag</a>
    </div>
    <div>
        <!-- Left blank on purpose... -->
    </div>
  </div>
  
  <h2 (click)="collapseList('headDiv')"><i id="arrowHeadList" class="arrow down"></i> Collection Header</h2>
  <div id="colHeader" name="colHeader" class="contentSeperator mb-5">
    <div id="colHeaderContent" name="colHeaderContent" *ngIf="showHeadDiv">
      <div *ngFor="let lang of collectionLangsList" class="mb-3">
        <div class="row col-12">
          <h3>{{lang.writtenLanguage.name}}</h3>
          <button (click)="removeLanguage(lang)" class="deleteBtn btn ml-3 colItemSettings">&#x2715;</button>
        </div>
        <label for="colFullTitle_{{lang.writtenLanguage.name}}" class="col-form-label">Full Title: </label>
        <input [(ngModel)]="lang.fullTitle" type="text" name="colFullTitle_{{lang.writtenLanguage.name}}" id="colFullTitle_{{lang.writtenLanguage.name}}" class="col-12 form-control-plaintext">
        
        <label for="colShortTitle_{{lang.writtenLanguage.name}}" class="col-form-label">Short Title: </label>
        <input [(ngModel)]="lang.shortTitle" type="text" name="colShortTitle_{{lang.writtenLanguage.name}}" id="colShortTitle_{{lang.writtenLanguage.name}}" class="col-12 form-control-plaintext">
      
        <label for="colIntro" class="col-form-label">Introduction: </label>
        <textarea [(ngModel)]="lang.introduction" name="colIntro" id="colIntro" cols="30" rows="10" class="col-12 form-control-plaintext"></textarea>
      </div>

      <div ngbDropdown class="d-flex justify-content-center" *ngIf="isLangAvailable">
        <button class="btn btn-primary" id="addLangBtn" ngbDropdownToggle>Add Language</button>
        <div ngbDropdownMenu aria-labelledby="addLangBtn">
          <button ngbDropdownItem *ngFor="let l of availableLangs" (click)="addLanguage(l)">{{ l.name }}</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Exercise List</h2>
  <div class="contentSeperator mb-5">
    <p class="mr-2">Global Settings: </p>
    <div class="row mt-3 col-12 mb-5">
      <select name="langFilter" id="langFilter" class="form-control col-2 mr-1">
        <option value="" disabled selected hidden>Language</option>
        <option *ngFor="let lang of globalLangs" ngValue="{{lang.id}}">{{lang.name}}</option>
      </select>
    
      <select name="progFilter" id="progFilter" class="form-control col-3 ml-1">
        <option value="" disabled selected hidden>Programming Language</option>
        <option *ngFor="let pLang of globalProgLangs" ngValue="{{pLang.id}}">{{pLang.name}}</option>
      </select>

      <label class="ml-2">Use latest Version: <input type="checkbox" name="useLatest" id="useLatest" class="checkbox"></label>
    </div>

    <div class="text-center" *ngIf="exerciseList.length == 0">
      <p class="errMsg">Please add at least one Exercise to you Collection!</p>
    </div>
    <div *ngIf="exerciseList.length != 0" class="scrollable">
      <ul class="list-group">
        <li *ngFor="let ex of exerciseList; let i = index" class="list-group-item colItem mb-1">
          <div class="row col-12 p-1">
            <div class="col">
              <p class="col-3 col-md-3 colItemHeading">{{ex.title}}<br><span class="author">{{ex.user.name}}</span></p>
              <!-- <p class="colItemHeading">{{ex.user.name}}</p> -->
            </div>
            <div class="row col-9">
              <select [(ngModel)]="collectionExerciseList[i].version" name="verFilter" id="verFilter" class="form-control col-3 ml-1">
                <option value="1" disabled selected hidden>Version</option>
                <option *ngFor="let ver of ex.versionList" ngValue="{{ver}}">version {{ver}}</option>
              </select>

              <select [(ngModel)]="collectionExerciseList[i].writtenLanguageId" name="langFilter" id="langFilter" class="form-control col-3 ml-1 mr-1">
                <option value="1" disabled selected hidden>Language</option>
                <option *ngFor="let lang of ex.writtenLanguageList" ngValue="{{lang.id}}">{{lang.name}}</option>
              </select>
          
              <select [(ngModel)]="collectionExerciseList[i].programmingLanguageId" name="progFilter" id="progFilter" class="form-control col-4 ml-1">
                <option value="1" disabled selected hidden>Programming Language</option>
                <option *ngFor="let progLang of ex.programmingLanguageList" ngValue="{{progLang.id}}">{{progLang.name}}</option>
              </select>
            </div>
            <button (click)="removeExercise(ex)" class="deleteBtn btn ml-3 colItemSettings">&#x2715;</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary col-1 mb-5" [disabled]="exerciseList.length == 0" (click)="saveCollection()">Save</button>
  </div>

</div>

<!-- Create Tags Modal -->
<ng-template #createTagModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new Tag</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newTagForm" (ngSubmit)="addNewTag(newTagForm.value)">
      <div class="form-group">
        <label for="tagName"><strong>Name:</strong></label>
        <input type="text" class="form-control-plaintext" id="tagName" name="tagName" placeholder="e.g. linked list" formControlName="tagName">
      </div>
      <div class="text-right">
          <button type="submit" class="btn btn-primary btn-outline-dark">Add</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>

<!-- Existing Tags Modal -->
<ng-template #existingTagModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add existing Tag</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="modalForm" [formGroup]="existingTagForm" (ngSubmit)="addExistingTag(existingTagForm.value)">
      <div class="form-group">
        <label for="tagName"><strong>Select Tag:</strong></label>
        <select class="form-control" name="tagName" id="tagName" formControlName="tag">
            <option *ngFor="let tag of existingTags" [ngValue]="tag">{{ tag.name }}</option>
        </select>
      </div>
      <div class="text-right">
          <button type="submit" class="btn btn-primary btn-outline-dark">Add</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
  </div>
</ng-template>