<h4 class="tabHeading">Test Suite</h4>
<h6 class="description">Create Programming Language Specific Tests</h6>
<div class="contentSeperator">
    <form>
        <div class="from-group row">
            <label for="questionType" class="col-2 col-form-label">Question Type</label>
            <div class="col-10">
                <select class="form-control" name="questionType" [compareWith]="compareById" [(ngModel)]="testSuite.questionType" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)">
                    <option *ngFor="let q of questionTypes" [ngValue]="q">{{ q.name }}</option>
                </select>
            </div>

            <label for="templDebugging" class="col-2 col-form-label">Template Debugging</label>
            <div class="col-10">
                <input type="checkbox" id="templDebugging" name="templDebugging" [(ngModel)]="testSuite.templateDebugFlag" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)">
            </div>

            <label for="precheck" class="col-2 col-form-label">Precheck</label>
            <div class="col-10">
                <select class="form-control" id="precheck" name="precheck" [(ngModel)]="testSuite.preCheck" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)">
                    <option [ngValue]="'deactivated'">Deactivated</option>
                    <option [ngValue]="'empty'">Empty</option>
                    <option [ngValue]="'examples'">Examples</option>
                    <option [ngValue]="'selected'">Selected</option>
                    <option [ngValue]="'all'">All</option>
                </select>
            </div>

            <label for="feedback" class="col-2 col-form-label">Display Feedback</label>
            <div class="col-10">
                <select class="form-control" id="feedback" name="feedback" [(ngModel)]="testSuite.generalFeedbackDisplay" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)">
                    <option [ngValue]="'setFromTest'">Set by Test</option>
                    <option [ngValue]="'forceDisplay'">Force Show</option>
                    <option [ngValue]="'forceHide'">Force Hide</option>
                </select>
            </div>

            <label for="globalExtra" class="col-2 col-form-label">Global Extra</label>
            <div class="col-10">
                <textarea class="form-control-plaintext" id="globalExtra" name="globalExtra" rows="5" [(ngModel)]="testSuite.globalExtraParam" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)"></textarea>
            </div>

            <label for="runtimeData" class="col-2 col-form-label">Runtime Data</label>
            <div class="col-10">
                <textarea class="form-control-plaintext" id="runtimeData" name="runtimeData" rows="5" [(ngModel)]="testSuite.runtimeData" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)"></textarea>
            </div>

            <label for="testOnSave" class="col-2 col-form-label">Test on Save</label>
            <div class="col-10">
                <input type="checkbox" id="testOnSave" name="testOnSave" [(ngModel)]="testSuite.testOnSaveFlag" (ngModelUpdate)="this.testSuiteChangeEvent.emit(this.testSuite)">
            </div>
        </div>
    </form>
</div>