<nav aria-label="breadcrumb" class="blue">
    <ol class="breadcrumb blue">
        <li class="breadcrumb-item">Head</li>
        <li class="breadcrumb-item" aria-current="page"><span class="active">Languages</span></li>
    </ol>
</nav>

<h4 class="tabHeading">Written Language</h4>
<h6 class="description">Written / Spoken Language specific Description</h6>
<div class="contentSeperator">
    <form>
        <h4>{{ exerciseLanguage.writtenLanguage.name }}</h4>
        <div class="from-group content-group row">
            <label for="fullTitle" class="col-2 col-form-label">Exercise Title</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="fullTitle" name="fullTitle" placeholder="Full Title" [(ngModel)]="exerciseLanguage.exerciseHeader.fullTitle">
            </div>
            <label for="shortTitle" class="col-2 col-form-label">Short Title</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="shortTitle" name="shortTitle" placeholder="Short Title" [(ngModel)]="exerciseLanguage.exerciseHeader.shortTitle">
            </div>
            <label for="introduction" class="col-2 col-form-label">Exercise Introduction</label>
            <div class="col-10">
                <angular-markdown-editor [options]="editorOptions" class="ng-untouched ng-pristine ng-valid line-numbers" textareaId="introduction" rows="8" name="introduction" [(ngModel)]="exerciseLanguage.exerciseHeader.introduction">
                </angular-markdown-editor>
            </div>
        </div>
    </form>
</div>

<div class="contentBottom contentSeperator">
    <nav aria-label="breadcrumb" class="blue float-left">
        <ol class="breadcrumb blue">
            <li class="breadcrumb-item">Head</li>
            <li class="breadcrumb-item" aria-current="page"><span class="active">Languages</span></li>
        </ol>
    </nav>
</div>