<h4 class="tabHeading">Programming Language</h4>
<h6 class="description">Programming Language specific Description</h6>
<div class="container contentSeperator">
    <form>
        <div class="from-group row">
            <!-- <label for="programmingLang" class="col-2 col-form-label">Language</label>
            <div class="col-10">
                ToDo: read from Database
                Possibility to add new Language here?
                <select class="form-control" id="programmingLang" name="name" [(ngModel)]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody.programmingLanguage.name">
                    <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang }}</option>
                </select>
            </div> -->
            <label for="description" class="col-2 col-form-label">Description</label>
            <div class="col-10">
                <textarea class="form-control-plaintext" id="description" name="description" rows="9" [(ngModel)]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody.description"></textarea>
            </div>
            <label for="example" class="col-2 col-form-label">Example</label>
            <div class="col-10">
                <textarea class="form-control-plaintext" id="example" name="example" rows="6" [(ngModel)]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody.example"></textarea>
            </div>
            <label for="hint" class="col-2 col-form-label">Hint</label>
            <div class="col-10">
                <input type="text" class="form-control-plaintext" id="hint" name="hint" placeholder="Hint(s)" [(ngModel)]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody.hint">
            </div>
            <!-- Add Possibility to add multiple tags to exercise -->
            <label for="tags" class="col-2 col-form-label">Tags</label> <!-- exercise.exerciseTagList -->
            <div class="col-10">
                <p>
                    Under Construction
                </p>
            </div>
        </div>
        <div class="text-right">
            <input type="button" class="btn btn-primary next-btn" (click)="setTab('test')" value="Next">
        </div>
    </form>
</div>