<nav aria-label="breadcrumb" class="blue">
    <ol class="breadcrumb blue">
        <!-- TODO: Load Language into Breadcrumb -->
        <li class="breadcrumb-item">Body</li>
        <li class="breadcrumb-item" aria-current="page">{{ exerciseBody.programmingLanguage.name }}</li>
        <li class="breadcrumb-item" aria-current="page"><span class="active">Languages</span></li>
    </ol>
</nav>

<h4 class="tabHeading">Languages</h4>
<h6 class="description">Language specific Descriptions</h6>
<div class="contentSeperator">
    <form>
        <h4>{{ writtenLang }}</h4>
        <div class="from-group content-group row">
            <label for="genFeedback" class="col-2 col-form-label">General Feedback</label>
            <div class="col-10">
                <angular-markdown-editor [options]="editorOptions" class="ng-untouched ng-pristine ng-valid line-numbers" textareaId="genFeedback" rows="9" name="genFeedback" [(ngModel)]="exerciseBody.feedback">
                </angular-markdown-editor>
            </div>
            <label for="genFeedback" class="col-2 col-form-label">Description</label>
            <div class="col-10">
                <angular-markdown-editor [options]="editorOptions" class="ng-untouched ng-pristine ng-valid line-numbers" textareaId="description" rows="9" name="description" [(ngModel)]="exerciseBody.description">
                </angular-markdown-editor>
            </div>
            <label for="genFeedback" class="col-2 col-form-label">Hints</label>
            <div class="col-10">
                <angular-markdown-editor [options]="editorOptions" class="ng-untouched ng-pristine ng-valid line-numbers" textareaId="hint" rows="5" name="hint" [(ngModel)]="exerciseBody.hint">
                </angular-markdown-editor>
            </div>
        </div>
    </form>
</div>

<div class="contentBottom contentSeperator">
    <nav aria-label="breadcrumb" class="blue float-left">
        <ol class="breadcrumb blue">
            <li class="breadcrumb-item">Body</li>
            <li class="breadcrumb-item" aria-current="page">{{ exerciseBody.programmingLanguage.name }}</li>
            <li class="breadcrumb-item" aria-current="page"><span class="active">Languages</span></li>
        </ol>
    </nav>
</div>