<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="side-nav-menu"
               [fixedInViewport]="false" [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <div class="blue" (click)="collapseList('headList')"><i id="arrowHeadList" class="arrow down"></i><strong>Head</strong></div>
    <mat-divider class="blue"></mat-divider>
    <div class="blue" *ngIf="showHeadList">
      <ul>
        <li (click)="setSelectedElement('General')">
          <a [ngClass]="{'active' : selectedElement == 'General'}">General</a>
        </li>
        <li *ngFor="let lang of writtenLang; let i = index" (click)="setSelectedElement('WrittenLang'+i);">
          <a [ngClass]="{'active' : selectedElement == ('WrittenLang'+i)}">{{ lang }}</a>
        </li>
        <div ngbDropdown class="d-inline-block" *ngIf="isLangAvailable">
          <button class="btn" id="addLangBtn" ngbDropdownToggle>
            <img src="../../assets/img/plus.png"/> Language
          </button>
          <div ngbDropdownMenu aria-labelledby="addLangBtn">
            <button ngbDropdownItem *ngFor="let l of availableLangs" (click)="addLanguage(l)">{{ l }}</button>
          </div>
        </div>
      </ul>
    </div>
    <div class="blue" (click)="collapseList('bodyList')"><i id="arrowBodyList" class="arrow down"></i><strong>Body</strong></div>
    <mat-divider class="blue"></mat-divider>
    <div class="blue" *ngIf="showBodyList">
      <ul *ngFor="let lang of programmingLang; let idx = index">
        <programming-language-element [lang]="lang" [writtenLang]="writtenLang" [idx]="idx" [selectedElement]="selectedElement" (selectElementEvent)="setSelectedElement($event)"></programming-language-element>
      </ul>
      <ul>
        <li (click)="addProgrammingLanguage('C#')"><img src="../../assets/img/plus.png"/> Programming Language</li>
      </ul>
    </div>
  </mat-sidenav>
</mat-sidenav-container>