<ul class="list-group">
    <li *ngFor="let exercise of exerciseList; index as i" class="list-group-item d-flex justify-content-between align-items-center blackLine">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4><strong>{{ exercise.title }}</strong></h4>
                    <div class="colour-blue">By {{ exercise.user.name }}</div>
                    <div>Creation Date: {{ exercise.created }}</div>
                </div>
                <div class="col-5 text-right">
                    <span *ngFor="let tag of exerciseList[i].tagList" class="badge badge-pill tag">{{ tag.name }}</span>
                    <span *ngFor="let wLang of exerciseList[i].writtenLanguageList" class="badge badge-pill tag-red">{{ wLang.name }}</span>
                    <span *ngFor="let pLang of exerciseList[i].programmingLanguageList" class="badge badge-pill tag-green">{{ pLang.name }}</span>
                </div>
                <div class="col-1 btn-alignment">
                    <button type="button" class="btn btn-outline-primary">+</button>
                </div>
            </div>
        </div>
    </li>
  </ul>