<!-- Tabs -->
<div class="container">
  <div>
    <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'general'}" (click)="setTab('general')">General</a>
    <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'writtenLang'}" (click)="setTab('writtenLang')">Written Language</a>
    <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'programming'}" (click)="setTab('programming')">Programming Language</a>
    <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'test'}" (click)="setTab('test')">Test Suit</a>
    <!-- <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'metadata'}" (click)="setTab('metadata')">Metadata</a> -->
    <!-- <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'tags'}" (click)="setTab('tags')">Tags</a> -->
    <a class="tab" [ngClass]="{'activeTab' : tabSelected == 'save'}" (click)="setTab('save')">Save</a>
  </div>
  <div class="ods-box">
    <div class="tabContent" *ngIf="tabSelected == 'general'">
      <general-tab [exercise]="exercise" (newTabSelectedEvent)="setTab($event)"></general-tab>
    </div>
    <div class="tabContent" *ngIf="tabSelected == 'writtenLang'">
      <written-lang-tab [exercise]="exercise" [languages]="writtenLang" (newTabSelectedEvent)="setTab($event)"></written-lang-tab>
    </div>
    <div class="tabContent" *ngIf="tabSelected == 'programming'">
      <programming-tab [exercise]="exercise" [languages]="programmingLang" (newTabSelectedEvent)="setTab($event)"></programming-tab>
    </div>
    <div class="tabContent" *ngIf="tabSelected == 'test'">
      <test-suit-tab [exercise]="exercise" (newTabSelectedEvent)="setTab($event)"></test-suit-tab>
    </div>
    <!-- <div class="tabContent" *ngIf="tabSelected == 'metadata'">
      <h4 class="tabHeading">Metadata</h4>
      <h6 class="description">Metadata of Exercise</h6>
      <div class="container contentSeperator">
        <p>Under construction</p>
      </div>
    </div> -->
    <!-- <div class="tabContent" *ngIf="tabSelected == 'tags'"v>
      <h4 class="tabHeading">Tags</h4>
      <h6 class="description">Possible Tags for Filtering</h6>
      <div class="container contentSeperator">
        <form>
          <div class="form-group row">
            ToDo: ng-for and AddButton to add more Tags
            <label for="tag" class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <input type="text" class="form-control-plaintext" id="tag" value="Tag Name">
            </div>
          </div>
          <div class="text-right">
            <input type="button" class="btn btn-primary next-btn" (click)="setTab('save')" value="Next">
          </div>
        </form>
        <h6>Possibilty to add more than one Tag to Exercise</h6>
        <p>Under construction</p>
      </div>
    </div> -->
    <div class="tabContent" *ngIf="tabSelected == 'save'">
      <save-tab [exercise]="exercise" (saveExerciseEvent)="saveExercise($event)"></save-tab>
    </div>
  </div>
</div>