<side-menu [availableLangsW]="writtenLangs" [availableLangsP]="programmingLangs" [selectedElement]="selectedElement" [writtenLang]="usedWLangs" [programmingLang]="usedPLangs" [isLangAvailable]="langsAvailable" [isProgrammingLangAvailable]="pLangsAvailable" [testCases]="testCases" (selectElementEvent)="setSelectedElement($event)" (addWrittenLangEvent)="addWrittenLang($event)" (addProgrammingLangEvent)="addProgrammingLang($event)" (removeWrittenLangEvent)="removeWLang($event)" (removeProgrammingLangEvent)="removePLang($event)" (addTestCaseEvent)="addNewTest($event)" (removeTestCaseEvent)="removeTestCase($event)"></side-menu>

<div class="content">
    <general-tab *ngIf="selectedElement == 'General'" [(exercise)]="exercise" [(existingTags)]="tagList" (exerciseChangeEvent)="exerciseChanged($event)"></general-tab>
    <written-lang-tab *ngIf="selectedElement.includes('WrittenLang')" [(exerciseLanguage)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[writtenLangIdx]" (exerciseLangChangeEvent)="wLangChanged($event)"></written-lang-tab>
    <programming-tab *ngIf="selectedElement.includes('Programming') && selectedElement.includes('General')" [(exerciseBody)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[0].exerciseBody[programmingLangIdx]" (bodyChangeEvent)="bodyChanged($event)"></programming-tab>
    <programming-langs-tab *ngIf="selectedElement.includes('Programming') && selectedElement.includes('Lang')" [(exerciseBody)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[writtenLangIdx].exerciseBody[programmingLangIdx]" [(writtenLang)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[writtenLangIdx].writtenLanguage.name" (bodyChangeEvent)="wLangBodyChanged($event)"></programming-langs-tab>
    <test-suit-tab *ngIf="selectedElement.includes('TestSuit')" [(testSuite)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[0].exerciseBody[programmingLangIdx].testSuite" [(questionTypes)]="questionTypes" (testSuiteChangeEvent)="testSuiteChanged($event)"></test-suit-tab>
    <testcase-tab *ngIf="selectedElement.includes('TestCase')" [(testCase)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[0].exerciseBody[programmingLangIdx].testSuite.testCaseList[testIdx]" [(pLang)]="exercise.exerciseVersionList[latestVersion].exerciseLanguageList[0].exerciseBody[0].programmingLanguage.name" (testCaseChangeEvent)="testCaseChanged($event)"></testcase-tab>
    <save-tab *ngIf="selectedElement.includes('Summary')" [(exercise)]="exercise"></save-tab>
</div>


<div class="text-right">
    <input type="button" class="btn btn-primary next-btn" value="Temporary Save" (click)="SaveTempExercise()">
    <input type="button" class="btn btn-primary next-btn" value="Save" (click)="SaveExercise()">
    <input type="button" class="btn btn-primary next-btn" value="Summary" (click)="setSelectedElement('Summary')">
</div>

<!-- Error Message Toast -->
<div class="toast d-flex justify-content-center text-white bg-danger border-0 position-sticky" role="alert" aria-live="assertive" aria-atomic="true" data-delay="15000">
    <div class="toast-body">
      {{errorMsg}}
    </div>
    <button type="button" class="btn ml-2 toastClose" data-dismiss="toast" aria-label="Close">&times;</button>
</div>