<side-menu [availableLangsW]="writtenLangs" [availableLangsP]="programmingLangs" [selectedElement]="selectedElement" (selectElementEvent)="setSelectedElement($event)" (addWrittenLangEvent)="addWrittenLang($event)" (addProgrammingLangEvent)="addProgrammingLang($event)" (removeWrittenLangEvent)="removeWLang($event)" (removeProgrammingLangEvent)="removePLang($event)" (addTestCaseEvent)="addNewTest($event)"></side-menu>

<div class="content">
    <general-tab *ngIf="selectedElement == 'General'" [exercise]="exercise" [existingTags]="tagList"></general-tab>
    <written-lang-tab *ngIf="selectedElement.includes('WrittenLang')" [exerciseLanguage]="exercise.exerciseVersionList[0].exerciseLanguageList[writtenLangIdx]"></written-lang-tab>
    <programming-tab *ngIf="selectedElement.includes('Programming') && selectedElement.includes('General')" [exerciseBody]="exercise.exerciseVersionList[0].exerciseLanguageList[writtenLangIdx].exerciseBody[programmingLangIdx]"></programming-tab>
    <programming-langs-tab *ngIf="selectedElement.includes('Programming') && selectedElement.includes('Lang')" [exerciseBody]="exercise.exerciseVersionList[0].exerciseLanguageList[writtenLangIdx].exerciseBody[programmingLangIdx]" [writtenLang]="exercise.exerciseVersionList[0].exerciseLanguageList[programmingLangIdx].writtenLanguage.name"></programming-langs-tab>
    <test-suit-tab *ngIf="selectedElement.includes('TestSuit')" [testSuite]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody[programmingLangIdx].testSuite" [questionTypes]="questionTypes"></test-suit-tab>
    <testcase-tab *ngIf="selectedElement.includes('TestCase')" [testCase]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody[programmingLangIdx].testSuite.testCaseList[testIdx]" [pLang]="exercise.exerciseVersionList[0].exerciseLanguageList[0].exerciseBody[0].programmingLanguage.name"></testcase-tab>
    <save-tab *ngIf="selectedElement.includes('Summary')" [exercise]="exercise"></save-tab>
</div>

<div class="text-right">
    <input type="button" class="btn btn-primary next-btn" value="Save" (click)="saveExercise()">
    <input type="button" class="btn btn-primary next-btn" value="Summary" (click)="setSelectedElement('Summary')">
</div>