<h2>Login</h2>
<div *ngIf="success == false" class="alert alert-danger" role="alert">Login Failed Wrong Credentials</div>
<form #credentials = "ngForm">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="username">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required ngModel>
    <button type="button" (click)="login()">Login</button>
  </div>
</form>